<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555040585850-e0tbk8jr360juffd5ria4ni1dn1ba09k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555040585850-e0tbk8jr360juffd5ria4ni1dn1ba09k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>555040585850-dl8e0qe8907gph5r83mlueptq83qu61u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgqF_pJ1nvgTEN1Z2dCT0LRAxGkqiGVs8</string>
	<key>GCM_SENDER_ID</key>
	<string>555040585850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freetimedevelopers.lockdownshop</string>
	<key>PROJECT_ID</key>
	<string>lockdownmart</string>
	<key>STORAGE_BUCKET</key>
	<string>lockdownmart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555040585850:ios:6836e487e4ab0bdfbde3c3</string>
	<key>DATABASE_URL</key>
	<string>https://lockdownmart.firebaseio.com</string>
</dict>
</plist>